<% layout('/layouts/boiler-plate.ejs') %>

<body>
    <div class="main-container">
        <div class="containerSl">
            <img class="listing-img" src="<%= listing.image %>" alt="<%= listing.title %>">
            <h2><%= listing.title %></h2>
            <p class="details"><%= listing.description %></p>
            <p class="price">Price: &#8377; <%= listing.price.toLocaleString('en-IN') %></p>
            <p class="details">Location: <%= listing.location %>, <%= listing.country %></p>
            
            <div class="btn-container">
                <form action="/listings/<%= listing._id %>/edit" method="GET">
                    <button class="btn btn-primary">Edit Listing</button>
                </form>
                <form action="/listings/<%= listing._id %>?_method=Delete" method="POST">
                    <button class="btn btn-danger">Delete Listing</button>
                </form>
            </div>
        </div>

        <div class="containerSl">
            <%- include("../includes/review-form") %>
        </div>
    </div>
</body>