<% layout('/layouts/boiler-plate.ejs') %>

    <body>
        <div class="container mt-4">
            <h1 class="text-center mb-4">All Listings</h1>
            <% if (allListings.length> 0) { %>
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 ">
                    <% allListings.forEach(listing=> { %>
                        <a href="/listings/<%= listing._id %>" class="text-decoration-none">
                            <div class="card col listing-card">
                                <img src="<%= listing.image %>" class="card-img-top" alt="<%= listing.title %>"
                                    style="height:20rem">
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>
                                            <%= listing.title %>
                                        </b><br>
                                        &#8377; <%= listing.price.toLocaleString('en-IN') %>/night
                                    </p>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                </div>
                <% } else { %>
                    <p class="text-center">No listings available.</p>
                    <% } %>
        </div>
    </body>