<% layout('/layouts/boiler-plate.ejs') %>
<%- include("../includes/flash.ejs") %>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
  //ignore warnings for above line as vscode is treating this file as .js file
</script>


    <body>
      <div class="main-container">
        <div class="containerSl">
          <img class="listing-img" src="<%= listing.image.url %>" alt="<%= listing.title %>">
          <h2>
            <%= listing.title %>
          </h2>
          <h3 class="details">Owner : <%= listing.owner.username %>
          </h3>
          <p class="details">
            <%= listing.description %>
          </p>
          <p class="price">Price: &#8377; <%= listing.price.toLocaleString('en-IN') %>
          </p>
          <p class="details">Location: <%= listing.location %>, <%= listing.country %>
          </p>

          <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
            <div class="btn-container">
              <form action="/listings/<%= listing._id %>/edit" method="GET">
                <button class="btn btn-primary">Edit Listing</button>
              </form>
              <form action="/listings/<%= listing._id %>?_method=Delete" method="POST">
                <button class="btn btn-danger">Delete Listing</button>
              </form>
            </div>
            <% } %>
        </div>


        <div>
          <% if (listing.reviews.length> 0) { %>
            <hr>
            <h4 style="text-align: center; margin-bottom: 15px;">All Reviews</h4>
            <div class="row justify-content-center g-4">
              <% listing.reviews.forEach(function (review) { %>
                <div class="col-md-4 mb-3 d-flex">
                  <div class="card flex-fill">
                    <div class="card-body">
                      <h5 class="card-title ms-2">@<%=review.author.username%>
                      </h5>
                      <p class="starability-result card-text ms-2" data-rating="<%= review.rating %>">
                      </p>
                      <p class="card-text ms-2">
                        <%= review.comment %>
                      </p>
                      <!-- <p class="card-text ms-2">Rating: <%= review.rating %> Stars</p> -->
                    </div>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-danger card-btn">Delete
                    </form>
                  </div>
                </div>
                <% }) %>
            </div>
            <% } %>
        </div>
      </div>

      <div class="col-10 offset-2 mb-3">
        <h3>Where You'll Be</h3>
        <div id="map"></div>
      </div>

      <% if(currUser) { %>
        <div class="containerSl">
          <%- include("../includes/review-form") %>
        </div>
        <% } %>
        <script src="/js/map.js"></script>
    </body>

    